<div class="users-new-wrapper text-center">
  <div class="container admin-userList-container">
    <h1>Works List</h1>
    <table class="table">
      <thead>
        <tr>
          <th>施行日</th>
          <th>案件名</th>
          <th>企業名</th>
          <th>撮影場所</th>
          <th>ステータス</th>
          <th>詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @works.each do |work| %>
          <tr>
            <td><%= work.date %></td>
          	<td><%= work.name %></td>
          	<td><%= work.company %></td>
          	<td><%= work.address %></td>
          	<% if work.status == "notyet" %>
          	  <td><%= link_to work.status_i18n , "#", class: 'btn btn-block btn-red-mini' %></td>
          	<% elsif work.status == "requesting" %>
          	  <td><%= link_to work.status_i18n , "#", class: 'btn btn-block btn-yellow-mini' %></td>
          	<% elsif work.status == "submitted" %>
          	  <td><%= link_to work.status_i18n , "#", class: 'btn btn-block btn-green-mini' %></td>
          	<% else %>
          	  <td><%= link_to work.status_i18n , "#", class: 'btn btn-block btn-silver-mini' %></td>
          	<% end %>
          	<td><%= link_to '詳細', admin_work_path(work.id), class: 'btn btn-block btn-gray-mini' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        <%= link_to '新規登録', new_admin_work_path, class: 'btn btn-block btn-gray' %>
      </div>
    </div>
  </div>
</div>
    